@font-face {
  font-family: nb;
  src: url(./assets/NBInternationalProBoo.ttf);
}
@font-face {
  font-family: rj;
  src: url(./assets/Rejouice-Headline.ttf);
}
@import "node_modules/locomotive-scroll/dist/locomotive-scroll";

/* lenis custom css starts*/
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* lenis custom css ends */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}

body {
  height: 100vh;
  width: 100%;
  font-family: rf;
}

#page1 {
  width: 100%;
  height: 100vh;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 9;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vw 3.1vw;
}

nav h3,
nav h4 {
  font-size: 1.4vw;
  font-weight: lighter;
}

#page1-content h1 {
  font-family: rj;
  font-size: 27vw;
  font-weight: 300;
  line-height: 27vw;
}

#page1-content h1 span {
  display: inline-block;
  font-family: rj;
}

#cursor {
  opacity: 0;
  height: 6vw;
  width: 6vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

#cursor h5 {
  font-size: 0.9vw;
  color: black;
  font-weight: bold;
}

#page2 {
  width: 100%;
  height: 100vh;
  padding: 2.4vw;
}

#page2-upper {
  margin-top: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid gray;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
}

.elem {
  overflow: hidden;
}

.elem h3 {
  font-size: 1.7vw;
  font-weight: 100;
  position: relative;
}

.elem p {
  font-size: 4.2vw;
  position: relative;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 2.4vw;
}
#page3-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#page3-top h4 {
  font-weight: 100;
  font-size: 1.3vw;
  margin-bottom: 2vw;
}

#page3-top h4 span {
  background-color: black;
  color: white;
  font-size: 1vw;
  padding: 0.6vw;
  border-radius: 2vw;
}

#page3-top .elem h2 {
  font-size: 5vw;
  font-weight: 100;
  text-decoration: underline;
}

.page3-bottom-head {
  margin-top: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page3-bottom-head h3 {
  font-size: 2vw;
  font-weight: 100;
}

#video-gallery {
  margin-top: 3vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.video-gallery-item {
  height: 100%;
  background-color: #ff5f38;
  width: 30vw;
  position: relative;
  cursor: pointer;
}

.video-gallery-item h3 {
  bottom: 4vh;
  position: absolute;
  z-index: 99;
  color: gainsboro;
  font-size: 3vw;
  left: 50%;
  transform: translateX(-50%);
}

.video-gallery-item img {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
}

.video-gallery-item video {
  z-index: 9;
  position: absolute;
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: all 0.5s ease-in;
  opacity: 0;
}

.video-gallery-item:hover video {
  opacity: 1;
  z-index: 11;
}

#page4,
#page6 {
  padding: 2.4vw;
}

#page4-top {
  margin-top: 10vw;
  padding-bottom: 1vw;
}

.page4-underline {
  margin-bottom: 3vw;
}

#page5 {
  margin-top: 5vw;
  position: relative;
  width: 100%;
  height: 100vh;
}
#page5-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

#page5-content video {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cursor2 {
  opacity: 0;
  height: 6vw;
  width: 6vw;
  background-color: black;
  color: white;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  pointer-events: none;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  overflow: hidden;
}

#loader h3 {
  font-size: 2vw;
}

.first-svg {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seats {
  color: white;
  z-index: 7;
}

.seats h3 {
  text-align: center;
  font-size: 3vw;
}
.seats h4 {
  font-size: 1.5vw;
}

#page6 {
  margin-top: 4vw;
  width: 100%;
  height: 100vh;
  z-index: 99;
  /* background-color: #b49292; */
}

.page6-underline {
  margin-bottom: 2vw;
}

footer {
  padding-top: 5vw;
  /* height: 70vh; */
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.footer-top h1 {
  font-size: 5vw;
}



.footer-top button {
  font-size: 3vw;
  padding: 1rem 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
}
 
/* .footer */
.footer-bottom h1 {
  text-align: center;
  overflow: hidden;
  line-height: 25vw;
  position: relative;
  margin-bottom: 0;
}
.footer-bottom h1 span {
  transform: translateY(-500px);
  opacity: 0;
  padding: 1vw;
  font-weight: 400;
  font-family: rj;
  font-size: 24vw;
  transition: ease;
  display: inline-block;
  margin-bottom: 0;
}
